body {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family:Calibri; 
}
header, footer {
    background: black;
    height: 40px;
}
footer {
    clear: both;
    background: black;
    height: 40px;
}
        nav {
      background: lightblue;
      height: 100px;
}

.container{
    width: 600px;
    height: 1200px;
    margin: auto;
    padding: 5px;
    overflow: auto;
}
.kiri {
    width: 20%;
    height: 400px;
    background-color: orange;
    float: left;
} 
.tengah {
    width: 60%;
    height: 400px;
    background-color: yellow;
    float: left;
}
.kanan {
    width: 20%;
    height: 400px;
    background-color: green;
    float: left;
}